# Disable directory listing
Options -Indexes


# Alternatively, if you want to restrict all PHP files in a specific directory
# <Directory "/">
#     <FilesMatch "\.php$">
#         Order Allow,Deny
#         Deny from all
#     </FilesMatch>
# </Directory>

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /login.html [L,R=301]